.env
/linux
/macos
# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build outputs
build/